* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

main {
  background-image: linear-gradient(109.6deg,
      rgba(62, 161, 219, 1) 11.2%,
      rgba(93, 52, 236, 1) 100.2%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.mainCard {
  border-radius: 25px;
  background-color: #fff;
  padding: 25px;
  width: 90%;
  max-width: 800px;
}

.title {
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

.inputForm {
  border: none;
  padding: 10px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

.inputForm::placeholder {
  padding: 0px;
}

.btnCreate {
  padding: 10px 15px;
  background-image: linear-gradient(109.6deg,
      rgba(62, 161, 219, 1) 11.2%,
      rgba(93, 52, 236, 1) 100.2%);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.cardsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: calc(100vh - 250px);
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  width: 100%;
  padding: 15px;
  box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  position: relative;
}

.task {
  padding: 10px;
}

/* Agregando responsividad */
/* Media Queries */
@media only screen and (min-width: 768px) {
  form {
    flex-wrap: nowrap;
  }

  .inputForm {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .mainCard {
    padding: 50px;
  }

  .inputForm {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  .cardsList {
    max-height: calc(100vh - 200px);
  }
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: rgba(62, 161, 219, 1);
}

.completeIcon {
  color: rgba(62, 161, 219, 1);
}

.trashIcon:hover {
  color: #f00;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}

.deleteSpace {
  position: relative;
  width: 30%;
}

.noTasks {
  font-size: 48px;
}

.date {
  width: 100%;
  padding: 15px;
}